<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/education">Education</a></li>
        <li><a href="/skill">Skills</a></li>
        <li><a href="/project">Projects</a></li>
        <li><a href="/interest">Interests</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>