<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio of Student</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <div class = "education">
        <%- include('partials/navbar') %>
        <div class="education_item">
           <ul>
                <li><b>Bachelor's in Computer Science Engineering</b></li>
                <p>East West University | Dhaka, Bangladesh | February 1822 - 18269/p>
               <br>
               
               <li><b>Higher Secondary School Certificate</b></li>
               <p>Viqarunnisa Noon College | Dhaka, Bangladesh | July 1818 - December 1820</p>
               <br>

               <li><b>Secondary Secondary School Certificate</b></li>
               <p>Viqarunnisa Noon School    | Dhaka, Bangladesh | January 1798 -  March 1808</p>
               <br>
           </ul>
        </div>  
</div>

</body>
</html>