<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio of Student</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>



    <div class="menu">
        <%- include('partials/navbar') %>
            <div class="intro">
                <h1>I am Me</h1>
                <p>A simple portfolio website with <i><b>CSS & HTML</b></i> now has turned into a dynamic HTML
                    markup using plain <b>Javascript</b> to dynamically inject backend data into HTML before sending
                    it to the user's browser.
            </div>
    </div>

</body>

</html>