<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio of Student</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <div class = "skill">
       <%- include('partials/navbar') %>
        <div class="skill_item">
            <ul>
                <p><b>Programming Languages:</b></p>
                <li>C, C++, Java</li>
                <br>
                <p><b>Software Development:</b></p>
                <li>Object Oriented Programming(OOP)</li>
                <br>
                <p><b>Tools and Framework:</b></p>
                <li>Visual Studio Code, Code::Blocks</li>
                <br>
                <p><b>Operating System:</b></p>
                <li>Proficient in Windows, Linux/Unix Environment</li>
                <li>MacOS familiarity</li>
                <br>
                <p><b>Software Skills:</b></p>
                <li>MS Word, PowerPoint, Excel</li>
                <br>
                <p><b>Problem-Solving:</b></p>
                <li>Active Participation: AtCoder, Virtual Vjudge </li>
                <li>Previous Participation: BeeCrowd </li>
                <br>
            </ul>
         </div>  
   </div>

</body>
</html>